.btn {
  width: 180px;
  height: 180px;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn__0 {
  top: 0;
  left: 0;
  background-color: #41c731;
  border-radius: 180px 0 0 0;
}

.btn__0:hover {
  -webkit-box-shadow: 20px 20px 25px -5px rgba(255, 255, 255, 0.2) inset;
          box-shadow: 20px 20px 25px -5px rgba(255, 255, 255, 0.2) inset;
}

.btn__1 {
  top: 0;
  right: 0;
  background-color: #e33f3f;
  border-radius: 0 180px 0 0;
}

.btn__1:hover {
  -webkit-box-shadow: -20px 20px 25px -5px rgba(255, 255, 255, 0.2) inset;
          box-shadow: -20px 20px 25px -5px rgba(255, 255, 255, 0.2) inset;
}

.btn__2 {
  bottom: 0;
  left: 0;
  background-color: #387bcf;
  border-radius: 0 0 0 180px;
}

.btn__2:hover {
  -webkit-box-shadow: 20px -20px 25px -5px rgba(255, 255, 255, 0.2) inset;
          box-shadow: 20px -20px 25px -5px rgba(255, 255, 255, 0.2) inset;
}

.btn__3 {
  bottom: 0;
  right: 0;
  background-color: #ebdd3c;
  border-radius: 0 0 180px 0;
}

.btn__3:hover {
  -webkit-box-shadow: -20px -20px 25px -5px rgba(255, 255, 255, 0.2) inset;
          box-shadow: -20px -20px 25px -5px rgba(255, 255, 255, 0.2) inset;
}

.active__0 {
  background-color: #0f9500;
}

.active__1 {
  background-color: #b10d0d;
}

.active__2 {
  background-color: #06499d;
}

.active__3 {
  background-color: #b9ab0a;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #eee;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 45px;
  min-width: 1200px;
  position: relative;
}

.game__title {
  text-align: left;
  margin-top: 30px;
}

.game__fiend {
  position: relative;
  width: 360px;
  height: 360px;
  border-radius: 360px;
  border: 10px solid #fff;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.2);
}

.game__menu {
  width: 300px;
  margin-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.game__menu .game__start {
  font-size: 80px;
  cursor: pointer;
}

.game__menu .game__start:hover {
  color: #3a3838;
}

.game__menu .game__score {
  margin-top: 20px;
  font-size: 30px;
}

.game__menu .game__step {
  margin-top: 30px;
  position: absolute;
  top: 100%;
  text-align: center;
  font-size: 22px;
}

.game__menu .game__over {
  margin-top: 20px;
  position: absolute;
  top: 100%;
}

.game__menu .game__over .game__over_text {
  font-size: 20px;
  margin-top: 6px;
}

.game__option {
  position: absolute;
  top: 200%;
}

.game__option .option-title {
  font-size: 16px;
}

.game__option .option {
  margin-top: 10px;
  font-size: 12px;
}

.event-block {
  pointer-events: none;
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */