@import '_btn_style';

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #eee;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 45px;
    min-width: 1200px;
    position: relative;
}

.game__title {
    text-align: left;
    margin-top: 30px;
}

.game__fiend {
    position: relative;
    width: $btnSize * 2;
    height: $btnSize * 2;
    border-radius: $btnSize * 2;
    border: 10px solid #fff;
    box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.2);
}

.game__menu{
    width: 300px;
    margin-left: 80px;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    position: relative;
    .game__start{
        font-size: 80px;
        cursor: pointer;
        &:hover{
            color: rgb(58, 56, 56);
        }
    }
    .game__score{
        margin-top: 20px;
        font-size: 30px;
    }
    .game__step{
        margin-top: 30px;
        position: absolute;
        top: 100%;
        text-align: center;
        font-size: 22px;
    }
    .game__over{
        margin-top: 20px;
        position: absolute;
        top: 100%;
        .game__over_text{
            font-size: 20px;
            margin-top: 6px;
        }
    }
}
.game__option{
    position: absolute;
    top: 200%;

    .option-title{
        font-size: 16px;
    }
    .option{
        margin-top: 10px;
        font-size: 12px;
    }
}


.event-block{
    pointer-events: none;
    opacity: 0.7;
}